body{

}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:rgb(224, 108, 176);
    padding: 50px;
    margin: 0px;

}

.titulo2{
    color:deeppink;
    font-family: sans-serif;
}

.principal{
    background-color: rgb(241, 156, 199);
    padding: 30px;
    margin: 0%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.imagembeneficios{
    width: 50%;
}