body{

}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color:deeppink;
    background-color:bisque;
    padding: 50px;
    margin: 0px;

}

.titulo2{
    color: azure;
    font-family: sans-serif;
}

.principa{
    background-color: hotpink;
    padding: 30px;
    margin: 0%;
}