body{

}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color:deeppink;
    background-color:bisque;
    padding: 50px;
    margin: 0px;

}

.titulo2{
    color:deeppink;
    font-family: sans-serif;
}

.principal{
    background-color: rgb(241, 156, 199);
    padding: 30px;
    margin: 0%;
}

ul{
    
}